<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TabletopNote</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span><i class="bi bi-journal-text"></i></span> Campaigns
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <span><i class="bi bi-bookmark-plus-fill"></i></span> Documents
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="references">
                <span><i class="bi bi-paperclip"></i></span> References
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span><i class="bi bi-calendar2-date"></i></span> Events
            </NavLink>
        </div>
    </nav>
</div>

