@page "/"

<PageTitle>Campaigns</PageTitle>

<button class="btn btn-primary" @onclick="AddCampaign">Add New Campaign</button>

<h1>Current Campaigns</h1>

All notes, documents, reference files, and calendar events are grouped under a specific campaign. 


@code {
    
    private void AddCampaign()
    {

    }
}
