@page "/"

<PageTitle>Campaigns</PageTitle>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddCampaign">Add New Campaign</MudButton>

<p>@testMessage</p>

<h1>Current Campaigns</h1>

All notes, documents, reference files, and calendar events are grouped under a specific campaign. 


@code {
    private string testMessage = "";

    private void AddCampaign()
    {
        testMessage = "add campaign clicked mudblazor";
    }
}
