@page "/documents"

<PageTitle>Documents</PageTitle>

<h1>Documents</h1>

<button class="btn btn-primary" @onclick="AddDocument">Add Document</button>

@code {

    private void AddDocument()
    {

    }
}
