@page "/references"

<PageTitle>References</PageTitle>

<h1>Attach Reference File</h1>

<button class="btn btn-primary" @onclick="AddReference">Add Reference</button>

@code {
    private void AddReference()
    {

    }
}
