@page "/references"

<PageTitle>References</PageTitle>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddReference">Attach File</MudButton>

<h1>Current References</h1>

Below are reference files that have been attached to {CampaignName}. References can be added or removed for this specific campaign.


@code {
    private void AddReference()
    {

    }
}
